<!DOCTYPE html>
 <html>
   <head>
   <meta charset="UTF-8" />
    <link rel="stylesheet" href="application.css" />
   </head>

   <body class="hello">
    <h1 class="good">ようこそBookersへ！</h1>
    <p class="explain">Bookers では、さまざまな書籍に関するあなたの意見や<br>
    <br>
    印象を共有し交換することができます</p>

    <a href="/books" class="start">start</a>
   </body>
